.Contact-Image{
    background-image: url('../../../public/images/Contacts.jpg');  
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 150px;
    padding-bottom: 180px;
    margin-bottom: 100px; 
    width: 100%;
  }
  .Form_Button{
    background-color: rgb(228, 150, 5);
    border: 0cap;
    color: white;
  
  }
  .Form_Button:hover {
    background-color: rgb(178, 111, 240);
  }

 .sticky-scroll{
    position: sticky;
    top: 62px;
  
 }
  